<h1>Profile</h1>

<%= form_for :profiles, url: profiles_path, html: { multipoart: true} do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>
 
 	<p>
 	<%= f.file_field :image %>
 	</p>

  <p>
    <%= f.submit %>
  </p>
<% end %>